body {
  font-family: Arial, sans-serif;
  background: #333; 
  color: white; 
  --main-foreground-color: white;
  --menu-forground: lightgrey;
  --menu-selected: #222;
}

.day {
  --main-foreground-color: white;
  --menu-forground: lightgrey;
  --menu-selected: #222;
}


.night {
  --main-foreground-color: red;
  --menu-forground: red;
  --menu-selected: #222;
}

.nmeaLayout {
  display: flex;
}

.nmeaLayout > div:not(:first-child) {
  /*padding-left: 11px;*/
}

.navbar {
  display: flex;
  /*justify-content: space-around; */
  align-items: center;
  color: var(--main-foreground-color);
}

.navbar input {
  padding: 0px 6px;
  margin: 0px 9px;
  width: 177px;
  color: var(--main-foreground-color);
  border: none;
  outline: none;
  background: #444;
  height: 29px;
  border-radius: 5px;
}



.nav-item {
  position: relative;
}

.nav-info {
  padding-right: 1rem;
  width: 10rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: var(--menu-forground);
  background: #444;
  /*min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  border: 1px solid grey;
  border-radius: 5px;
}

.nav-item:hover .dropdown-content {
  display: block;
}

.nav-item button {
  color: var(--menu-forground);;
  padding: 12px 16px;
  text-decoration: none;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1rem;
}


.nav-item a {
  color: var(--menu-forground);;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.nav-item a.selected {
  background-color: var(--menu-selected); 
}


.dropdown-content a {
  border: none;
  text-wrap: nowrap;
}
.dropdown-content a:hover {
}


.topmenu {

}
.topmenu a {
  text-decoration: none;
  color: var(--main-foreground-color);
  padding: 1px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.topmenu a:hover {
  text-decoration: underline;
  border: 1px solid var(--main-foreground-color);
  border-radius: 5px;
}
.topmenu a:click {
  text-decoration: underline;
  background-color: var(--menu-forground);;
  border: 1px solid var(--main-foreground-color);
  border-radius: 5px;
}




/*  menu --------------------------*/
.menu {
  position: absolute;
  top: 0px;
  right: 0px;
  /*height: 100%;*/
  display: grid;
  padding: 5px;
  grid-auto-rows: max-content;
  background-color: #5c5353de;
  z-index: 1;
}

.menu > button {
  padding: 0px;
  margin: 0px;
  text-align: right;
  font-size: 1rem;
}
.menu .activePage {
  background-color: grey;
}
.menu .pageButton {
  text-align: left;
}

.menu.minimised .pageButton {
  display: none;
}

.menu.minimised .controls {
  display: none;
}

.menu.minimised .debugControls {
  display: none;
}


.menu .iOn {
  color: green;
}
.menu .iOff {
  color: lightgreen;
}





.serialPortControl {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.serialPortControl .baudRate {
  color: lightgreen;  
}



.serialPortControl .running {
  color: #33ff44
}

.uiControls {
    display: flex; 
    justify-content: flex-end;
    align-items: center;

}


/*  instuments --------------------------*/

.textbox {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 6rem;
  border: 1px solid;
  border-radius: 10px;
  stroke: var(--main-foreground-color);
  color: var(--main-foreground-color);
}

.size-maximum {
  width: 20rem;
  height: 12rem;
}

.engine-events {
  overflow: auto;
}

.engine-events .nowrap-container {
  text-wrap-mode: nowrap;
  margin: 8px;
}

.textbox > div, .textbox > canvas, textbox > svg {
  position: absolute;
  margin: 0px;
  padding: 0px;  
}

.textbox .overlay {
  height: 100%;
  width: 100%;
}

.textbox svg .outline {
  fill: #5f9ea0;
  stroke-width:  0px;
}

.textbox svg .path {
  stroke: var(--main-foreground-color);
  stroke-width:  1px;
}

.textbox svg .meanline {
  stroke: var(--main-foreground-color);
  stroke-width:  1px;
  opacity: 50%;
}

.textbox svg .stdbottomline {
  stroke: #073ec2;
  stroke-width:  1px;
  opacity: 50%;
}
.textbox svg .stdtopline {
  stroke: #c30f0f;
  stroke-width:  1px;
  opacity: 50%;
}

.textbox svg .small {
  stroke: var(--main-foreground-color);
  font-size: 0.7rem;
  font-weight: lighter;
  stroke-width:  1px;
}


.textbox canvas {
}

.textbox .main {
  display: grid;
  height: calc(100% - 20px);
  font-size: 4rem;
  text-align: center;
  margin: 10px 0px;
}

.textbox.size-maximum .main {
  font-size: 8rem;
}


.textbox .corner {
  font-size: 1rem;  
}

.textbox .tl {
  top:  0px;
  left:  5px;
  text-align: left;
}

.textbox .tr {
  top:  0px;
  right:  5px;
  text-align: right;
}

.textbox .br {
  bottom:  5px;
  right:  5px;
  text-align: right;
}

.textbox .bl {
  bottom:  5px;
  left:  5px;
  text-align: right;
}

.textbox  .edit {
  top: 0;
  left:  0;
  background: #82aa897a;

}

.main .smallLine1 {
  text-align: right;
  font-size: 1.5rem;
  padding: 10px 5px 0px 5px;


}
.main .smallLine2 {
  text-align: right;
  font-size: 1.5rem;
  padding: 0 5px 10px 5px;
}

.size-maximum .main .smallLine1 {
  font-size: 3rem;
}

.size-maximum .main .smallLine2 {
  font-size: 3rem;
}

.starboard {
  color: #9be79b;
}
.port {
  color: #f9c9c9;
}

.nmea2000Messages {
  display: contents;
}
.nmea2000Messages > div {
  border: solid 1px var(--main-foreground-color);
  border-radius: 5px;
}


.appStatus .main  {
  align-content: center;
}

.main .statusData {
  text-align: left;
  font-size: 0.75rem;
  padding: 1px 5px 0px 5px;
}

.size-maximum .main .statusData {
  font-size: 2rem;
}
 

input[type="number"] {
  width: 5em;
}

button {
  cursor: pointer;
  margin-left: 20px;
  background: #0000;
  color: var(--main-foreground-color);
  border: 0px;
}


#serverStop {
  background-color: #D14836;
  background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
  border: 1px solid transparent;
  color: var(--main-foreground-color);
  border-radius: 2px;
}

#serverStop:hover {
  background-color: #C53727;
  background-image: -webkit-linear-gradient(top, #DD4B39, #C53727);
  border: 1px solid #B0281A;
}
#serverlog {
  background: #444;
  color: #999;
    width: 480px;
    height: 180px;
    border: 1px solid #666;
    padding: 3px;
    overflow: auto;
}

.storeviewer {
  width: 100%;
  height: calc(100vh - 110px);
  color: var(--main-foreground-color);
}
.frameviewer {
  color: var(--main-foreground-color);
}

/* log viewer, with hits from Mistal 7B in Brave Chat... because css is so painful to get right */
.logviewer {
    width: 100%;
    height: calc(100vh - 110px);
  counter-reset: line; /* Reset the line number at the start of the .logview container */
    color: var(--main-foreground-color);

}

.logviewer .line {
  counter-increment: line; /* Increment the line number for each .logline element */
  display: flex; /* To align Key and Value side by side */
  justify-content: flex-start; /* To give space between Key and Value */
  flex-wrap: nowrap;
  flex-direction: row;
}

.logviewer .line::before {
  content: counter(line); /* Add a period and a space after the line number */
  margin-right: 0.5rem; /* Add some spacing between the line number and the Key */
  width: 1rem;
}
.logviewer .line > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0.5em;
  margin-top: 1px;
  margin-bottom: 1px;
}
.logviewer .line > div div {
  margin-left: 0.5em;
}
.logviewer .line > div.store > div:nth-child(1) {
  width: 14rem;
}
.logviewer .line > div.store > div:nth-child(2) {
  width: 10rem;
  text-wrap: nowrap;
}
.logviewer .line > div.store > div:nth-child(3) {
  width: 10rem;
  text-wrap: nowrap;
}
.logviewer .line > div.store > div:nth-child(4) {
  width: 10rem;
  text-wrap: nowrap;
}
.logviewer .line > div.log > div:nth-child(1),
.logviewer .line > div.log > div:nth-child(2), 
.logviewer .line > div.message > div:nth-child(1),
.logviewer .line > div.frame > div:nth-child(1),
.logviewer .line > div.frame > div:nth-child(2),
.logviewer .line > div.combined > div:nth-child(1) {
  width: 6rem;
}

.logviewer .line > div.log > div:nth-child(3),
.logviewer .line > div.log > div:nth-child(4), 
.logviewer .line > div.message > div:nth-child(2),
.logviewer .line > div.message > div:nth-child(3),
.logviewer .line > div.message > div:nth-child(4),
.logviewer .line > div.frame > div:nth-child(3),
.logviewer .line > div.frame > div:nth-child(4),
.logviewer .line > div.combined > div:nth-child(2),
.logviewer .line > div.combined > div:nth-child(3),
.logviewer .line > div.combined > div:nth-child(4) {
  text-wrap: nowrap;
}

.adminview {
    color: var(--main-foreground-color);
}

.adminview button ,
.adminview input[type="file"],
.adminview input[type="text"] {
  margin: 10px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  font-size: 1rem;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  min-width: 2rem;
  background-color: #42310d;
  color: var(--main-foreground-color);
}

.adminview input[type="file"]::file-selector-button  {
  color: var(--main-foreground-color);
  background-color: #42310d;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;


}

.adminview input[type="file"] button {
  color: var(--main-foreground-color);  
}

.adminview button:hover {
  background-color: #6b1e13;
}

.adminview .line button {
  margin: 1px;
  padding-left:2px;
  padding-right:2px;
  font-size: 1.2rem;
}

.logviewer .line > div.fileInfo > div:nth-child(1) {
  width: 15rem;

}
.logviewer .line > div.fileInfo > div:nth-child(2) {
  width: 4rem;
}


.fileInfo a {
  text-decoration: none;
  color: var(--main-foreground-color);
}
.fileInfo a:hover {
  text-decoration: underline;
}


.line:nth-child(even) {
  background-color: #202020; /* Light gray color for even rows */
}

.line:nth-child(odd) {
  background-color: #101010; /* Darker gray color for odd rows */
}


.logviewer .enabled {
    border: solid 0.5px var(--main-foreground-color);
}


.login-box {
  color: var(--main-foreground-color);
  background-color: #222;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  margin: 13px;
}

.user-box {
  display: flex;
}

.user-box input {
  padding: 4px 7px;
  margin-bottom: 2px;
  width: 177px;
  color: var(--main-foreground-color);
  border: none;
  outline: none;
  background: #444;
  height: 29px;
  border-radius: 5px;
}

.user-box label {
  font-size: 0.9rem;
  width: 66px;
  padding: 10px 10px;
  pointer-events: none;
}

.user-box button {
    cursor: pointer;
    margin-left: 213px;
    background: #555;
    color: #999;
    border: 1px;
    margin-top: 14px;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 6px;
  transition: color 0.3s ease-in-out;
}

.user-box button:hover {
  color: var(--main-foreground-color);
}

.password-toggle-icon {
  transform: translate(6px, 13px);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #555;
  transition: color 0.3s ease-in-out;
}

.password-toggle-icon i:hover {
  color: var(--main-foreground-color);
}


/**
 * fa-min-400.woff2 contains a subset of the Free FontAwesome Fonts.
 * Extractions was done by woff2 -> svg -> extract the glyphs into a new
 * svg font file -> woff2. This minimizes the size of the fonts for flash.
 * Source file files
 * https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css
 * https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/woff2/fa-regular-400.woff2
 * Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2023 Fonticons, Inc.
 */ 

.fa {
  font-family: "Font Awesome 6 Free";
  font-weight: 400; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto; 
}

.fa-eye-slash::before {
  content: "\f070"; 
}
.fa-eye::before {
  content: "\f06e"; 
}


@font-face {
  font-family: 'Font Awesome 6 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("fa-min-400.woff2") format("woff2"); 
}


.feedback:nth-child(even) {
  background-color: #202020; /* Light gray color for even rows */
}

.feedback:nth-child(odd) {
  background-color: #101010; /* Darker gray color for odd rows */
}
.feedback > div > span:first-child {
  width: 10rem;
}


/* file uploader */

.uploadControl {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
}

.uploadControl > * {
  box-sizing: border-box;
}

.uploadControl > .content {
  background-color: #8a8a67;
  margin: auto;
  padding: 80px 40px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
}



.uploadControl button ,
.uploadControl input[type="file"],
.uploadControl input[type="text"] {
  margin: 10px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  font-size: 1rem;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  min-width: 2rem;
  background-color: #34270d;
  color: var(--main-foreground-color);
}




